## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## VS
.vs/

## Rider
.idea/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
**/packages/*

## Data
data/
pipeline-runs.json

## OS
Thumbs.db
.DS_Store
